

main{
    position: relative;
}

.new-file{
    position: absolute;
    color: white;
    left: 75%;
    top: 80px;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width:1000px) {
    .navbar-container{
        display: flex;
        flex-direction: column;
    } 
    .navbar-title{
        display: none;
    }
 }
 