

main{
    position: relative;
}

.new-file{
    position: absolute;
    color: white;
    left: 75%;
    top: 80px;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width:770px) {
    .navbar-items{
        justify-content: center;
        align-items:center
    } 
   
 }