.profile-img{
    border-radius: 15px;
    height: 25rem;
}

.address{
    font-size: 0.7rem;
    width: 10rem;
}

@media screen and (max-width:1400px) {
   
    .main-row{
        justify-content: space-between;
    }
}

@media  (min-width: 760px) and (max-width: 1000px) {
    .main-row{
        display: flex;
        flex-direction: column;
    }
    .profile-img{
        margin-left: 8rem;
    }
}

@media screen and (max-width:438px) {
    .profile-img{
    height: 80%;
    width: 100%;
}
}


@media screen and (max-width:770px) {
   .navbar-items{
       justify-content: center;
       align-items:center
   } 
   .header-title{
    color:transparent
}
  .text{
      margin-top: -2rem;
  }
}



